.greenButton, .blueButton {
    min-width: 187px;
    min-height: 47px;
    border-radius: 5px;
    border: transparent;
    color: white;
    font-weight: bold;
}

.greenButton {
    background-color: #5DBB37;
}

.blueButton {
    background-color: #3897f0;
}

.greenButton:hover {
    background-color: #8EE56A;
    cursor: pointer;
}

.blueButton:hover {
    background-color: #88C1F6;
    cursor: pointer;
}

#allElements {
    position: relative;
    top: 23vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0;
    margin: 15px 0px 0px 0px;
}

#title h1 {
    margin: 0;
}

img {
    max-width: 200px;
    max-height: 200px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto Mono", monospace;
}
