<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/title.css">``
    <script src="../static/title.js"></script>
    <script src="../static/home.js" type="application/javascript"></script>
</head>
<body>
<div id="allElements">
    <img src="../static/cartoonpencil.png" alt="Cartoon Penncil">
    <div id="title">
        <h1>AI Math Solver</h1>
        <h3>AI for your math help</h3>
    </div>
    <div id="buttonBox">
        <button id="getStarted">Get Started</button>
        <button id="howTo">How-To</button>
    </div>
</div>

</body>
</html>