<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/title.css">
    <script src="../static/title.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
        type="application/javascript"></script>
</head>
<body>
<div id="allElements">
    <img src="../static/cartoonpencil.png" alt="Cartoon Pencil">
    <div id="title">
        <h1>AI Math Solver</h1>
        <h3>AI for your math help</h3>
    </div>
    <div id="buttonBox">
        <button class="greenButton">Get Started</button>
        <button class="blueButton">How-To</button>
    </div>
</div>

</body>
</html>