body {
    margin: 0;
    overflow: hidden;
}

.header, .footer {
    width: 100vw;
    height: 20vh;
}

.content {
    width: 100vw;
    height: 30vw;
}

canvas {
    /*width: 30vw;*/
    /*aspect-ratio: 1/1;*/
    border: 1px black solid;
}

.content, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer button {
    width: 5vw;
    height: 3vh;
}
